# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Build files
build/
dist/
wheels/
*.egg-info/

# Environment / secrets
.env
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db